<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Auth</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheets" href="">
    </head>
    <body>
        <h3>SignIn</h3>
        <form action="/signin" method="post">
            {% csrf_token %}
            <div class="loginInputsContainer">
                <label for="">Username</label>
                <input name="username" placeholder="Username" type="text" />
            </div>             
            <div class="loginInputsContainer">
                <label for="">Password</label>
                <input name="password" placeholder="Password" type="Password" />
            </div>
            <div class="loginButtonContainer">
                 <button>Login</button>         
            </div>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>